/* Entire page effects */

html {
    background-color: black;
    font-family: "Roboto", sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: grey;
}
  
header .desktop {
    display: flex;
    align-items: center;
    padding: 1.875rem;
}
  
header .desktop a{
    flex: 1;
    text-align: center;
    font-weight: bold;
}
  
header nav ul {
    display: flex;
}
  
header .mobile {
    display: none;  /* this is used to turn off the mobile header while viewing the desktop version */
}

.content {
    position: relative;
    top: 7rem;   /* to offset the fixed header*/
}

@media only screen and (max-width: 640px) {
    header .desktop {
      display: none;
    }

    header .mobile {
        display: flex;
        width: 100%;
    }

    header .mobile a{
        flex: 1;
        text-align: center;
        font-weight: bold;
    }

    .content {
        top: 2.5rem;
        font-size: 0.5rem;
        position: fixed;
    }
    
    h1 .content {
        text-align: center;
        
    }

    .leaderboard, .teamlink, .actual_hrs{
        max-width: 400px;  
        overflow: scroll;
    }
   
}
 /* for iPhone Xs */
@media only screen and (max-width : 818px) and (orientation: landscape) {

    header .desktop {
        display: none;
    }

    header .mobile {
        display: flex;
        width: 100%;
    }

    header .mobile a{
        flex: 1;
        text-align: center;
        font-weight: bold;
    }

    .content {
        top: 2rem;
        font-size: 0.1rem;
        position: fixed;
    }

    .content h1 {
        text-align: center;
        font-size: 14px;
        color: yellow;
        display: block;
    }

    .leaderboard {
        display: inline-block;
        max-width: 100%;
        max-height: 900px;
        overflow: scroll;
    }

    .teamlink {
        max-width: 800px;  
        overflow: scroll;
    }

    .actual_hrs {
        width: 255px;
        height: 925px;
        margin: auto;
        display: block;
        float: middle;
    }
   
}

/* Nav links */

a {
    color: white;
}

a:hover {
    color: black;
    text-decoration: none;
}

/* Leaderboard Page */

.leaderboard {
    width: 1000px;
    height: 575px;
    margin: auto;
    display: block;
    float: middle;
}

/* Team page */

.teamlink {
    width: 1410px;
    height: 750px;
    margin: auto;
    display: block;
    float: middle;
}

/* MLB Actual HRs page */

.actual_hrs {
    width: 255px;
    height: 700px;
    margin: auto;
    display: block;
    float: middle;
}
  
/* Previous Derbies page */

.previous {
    display: block;
    text-align: center;
    font-size: 20px;
}

a.previous:hover {
    color: grey;
    text-decoration: none;
}



